
@{
    ViewData["Title"] = "ResetPassword";
}
@model ForgetPasswordViewModel

@section Scripts{
    @*Bu sicript sayesinde client tarafında validation sağlanıyor *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
<div class="col-md-6 offset-md-3">
    <h5 class="fw-bold text-primary">Şifre yenileme linki, e-posta adresinize gönderilecektir.</h5>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
    </div>

    <form method="post">
      

        <div class="row mb-3">
                <label for="Email" class="col-md-2 col-form-label" asp-for="Email"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="row mb-3">

            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </div>

    </form>
</div>
</div>

