
@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeViewModel

@section Scripts{
    @*Bu sicript sayesinde client tarafında validation sağlanıyor *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="fw-bold text-primary offset-md-4 mb-4">Şifre Yenileme</h1>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form method="post">


            <div class="row mb-3 align-items-lg-center">
                <label for="PasswordOld" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordNew" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordNew"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Değiştir</button>
                </div>
            </div>

        </form>
    </div>
</div>

